In [1]:
import pandas as pd

In [3]:
pd.__version__

'1.3.4'

In [23]:
df = pd.read_csv('yellow_tripdata_2021-01.csv', nrows=100)
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [25]:
df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'])
df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])

In [30]:
from sqlalchemy import create_engine

In [42]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

In [43]:
print(pd.io.sql.get_schema(df, name='yellow_cabs', con=engine))

CREATE TABLE yellow_cabs (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

##  Insert all data

In [108]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

In [109]:
# First chunk of size 100.000
df = next(df_iter)

In [110]:
df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'])
df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])

In [111]:
df.head(0).to_sql(con=engine, name='yellow_cabs', if_exists='replace')

In [112]:
# Append all data to the database

%time df.to_sql(con=engine, name='yellow_cabs', if_exists='append')

CPU times: user 5.19 s, sys: 15 ms, total: 5.21 s
Wall time: 9.45 s

In [113]:
from time import time

In [114]:
for i in range(0, 13):
    t_start = time()
    
    df = next(df_iter, 0)
    
    if type(df) != int:
        df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'])
        df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])

        df.to_sql(con=engine, name='yellow_cabs', if_exists='append')

        t_end = time()

        print('Inserted another chunk in %.3f seconds' % (t_end - t_start))
    
print('finished')

Inserted another chunk in 9.678 seconds
Inserted another chunk in 9.796 seconds
Inserted another chunk in 9.548 seconds
Inserted another chunk in 10.618 seconds
Inserted another chunk in 9.527 seconds
Inserted another chunk in 9.241 seconds
Inserted another chunk in 9.527 seconds
Inserted another chunk in 9.830 seconds
Inserted another chunk in 9.839 seconds
Inserted another chunk in 9.425 seconds
Inserted another chunk in 9.467 seconds
Inserted another chunk in 9.736 seconds
Inserted another chunk in 6.113 seconds
finished